@import '~bootstrap-icons/font/bootstrap-icons.css';

.taskGroup {
  background-color: #282c34;
  color: white;  
}

.column-add-task-icon:hover {
  background-color: grey;
}

.rowTask:hover {
  background-color: grey;
}

.taskButtonsColumn {
  display: flex; 
  justify-content: flex-end
}

.inputTimer {
  padding-left: 0px;
}

.floating-label {
  font-size: 14px;
}

.error-message {
  background-color: red;
}

.pointer-icon {
  cursor: pointer;
}

.moveButtons .row{
  line-height: 0;
}

.invisibleWithSpace {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
