.taskGroup {
  background-color: #282c34;
  color: white;  
}

.taskGroup:hover {
  background-color: grey;
}

.rowTask:hover {
  background-color: grey;
}

.taskButtonsColumn {
  display: flex; 
  justify-content: flex-end
}

.inputTimer {
  padding-left: 0px;
}
